/*@import url(fonts.css); */

.reveal {
	font-family: Brandon, Verdana, Geneva, Tahoma, sans-serif;
	color: #363636;
}

/* enclosing border

Compared to the original Robot Lung Theme, it's now CSS only.

It requires this parameter to avoids overlaps :
:revealjs_margin: 0.2

*/
.reveal {
	box-shadow: inset 0 0 0 15px hsla(5,77%,37%);
}

.reveal.has-dark-background {
	box-shadow: none;
}




.reveal .slides {
	text-align: left !important;
}

.reveal .slides .center {
	text-align: center;
}


.fit.imageblock img {
	max-height: 50vh !important;
}


.w-auto.imageblock img {
	height: 100% !important;
	width:auto !important
}

.w-auto.imageblock {
	height: 50vh !important;
}


.imageblock img {
	max-height: 70vh !important;
}

.reveal > .overlay {
	background: white !important;
}

.reveal .controls .navigate-down.highlight,
.reveal .controls .navigate-right.highlight {
	animation: none !important;
}


.reveal .slides .imageblock {
	text-align: center;
}

/*.reveal section:not(.stack) {
	height: 100%;
	overflow-y:auto !important
}*/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
	text-transform: none;
}

.reveal h1 {
	font-size: 4rem !important;
}

.reveal h2 {
	font-size: 3rem !important;
	margin-bottom: 40px !important;
}

.reveal .center h2 {
	font-size: 4rem !important;
	margin-bottom: 0 !important
}

.slides ul li {
	list-style-type: '– ';
}

.paragraph + .ulist, .paragraph + .olist {
	margin-top: -1em;
}

.reveal p {
	margin: 30px 0 !important;
	line-height: 1.45 !important;
}


.reveal .slide-content .small {
	font-size: 0.7em !important;
}

.reveal .smallp p, .reveal .smallp li::marker {
	font-size: 20px !important;
	margin: 20px 0 !important
}

.reveal .center .admonitionblock table {
	margin: auto !important;
}

.reveal .admonitionblock table {
	margin: 1em 0 !important;
}

.reveal .admonitionblock table {
	font-weight: bold !important;
}
.columns.with-subh .slide-content {
	flex-wrap: wrap !important;
}

.columns.with-subh .slide-content  > div:first-child {
	flex-basis: 100% !important;
}

.columns .slide-content  > div.imageblock:last-child {
	display: flex;
	justify-content: center;
}

.slide-content > div .content {
	display: flex !important;
}

.slide-content > div .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slide-content > div img {
	max-height: 48vh !important;
	width: auto !important;
}

.reveal-viewport .searchbox {
	top:2em !important;
	right:2em !important;
}

.reveal-viewport .searchbox input {
	height:3em !important;
}
